header {
    width: 100%;
    height: 10vh;
    background-color: #ECECEC; }
  .content_background{
    background-color: #848484;
  }
  .page{
    margin-bottom:1rem;
    }
    /*  Title  */
    .page_title{
      margin: 0 0 10.5rem 0;
    }
      /*  Cube  */
      .cube{
        position: relative;
      }
      .square {
        position:absolute;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
      }
      .one{
        position: absolute;
        top: 10.5rem;
        left: 1.5rem;
      }
      .two{
        position: absolute;
        top: 10.5rem;
        left: 3rem;
      }
      .three{
        position: absolute;
        top: 12rem;
        left: 1.5rem;
      }
      .four{
        position: absolute;
        top: 12rem;
        left: 3rem;
      }
      /*  Theme  */
      .Theme{
        position: absolute;
        color: #FFFFFF;
        top: 8.7rem;
        left: 18rem;
        font-size: 4rem;
        letter-spacing: 0.7rem;
        font-family: 'Roboto_Regular';
        font-weight: 900;
      }


    /*  Scrollable Menu  */
    div.scrollmenu {
      margin-top: 1rem;
      position: relative;
      background-color: #1D1D1D;
      overflow: scroll;
      white-space: nowrap;
    }
    div.scrollmenu li a.default_color{
      color: #FFFFFF ;
    }
    div.scrollmenu::-webkit-scrollbar {
      display: none;
    }
    div.scrollmenu li {
      display: inline-block;
      text-align: center;
    }
    div.scrollmenu a {
      display: inline-block;
      color: #5F5F5F;
      font-family: Microsoft JhengHei;
      padding: 0.3rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      text-decoration: none;
      font-size: 1.3rem;
    }
    #magic-line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 0.25rem;
      background: #FFFFFF;
    }

  /*  Post  */
  .posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
    .posts_post {
      display: inline-block;
      width: 50%; }
      .posts_post_img {
        width: 100%; }
      .posts_post_detail {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin: 0.3rem 0 0.5rem 0; }
        .posts_post_detail_title {
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          font-size: 1.1rem;
          letter-spacing: -0.04rem;
          text-overflow: ellipsis;
          color: #FFFFFF;
          padding: 0 0 0 0.5rem; }
        .posts_post_detail_account {
          display: inline-flex;
          float: right;
          padding: 0 0.5rem 0 0; }
          .posts_post_detail_account_id {
            display: inline-block;
            width: 4rem;
            overflow: hidden;
            margin: auto;
            font-size: 0.75rem;
            text-align: right;
            letter-spacing: -0.04rem;
            text-overflow: ellipsis;
            color: #FFFFFF; }
          .posts_post_detail_account_img {
            height: 1.563rem;
            width: 1.563rem;
            margin: 0 0 0 0.4rem;
            border-radius: 50%; }
  
  .vsc-initialized {
    overflow-x: hidden; }
  
  body {
    overflow: auto;
    overflow-x: hidden; }
  
  #id_header {
    width: 100%; }
  
  .tetto {
    padding-left: 5vw; }
  
  .addpost {
    position: absolute;
    top: 5.2vh;
    right: 6vw; }
  