header {
    width: 100%;
    height: 10vh;
    background-color: #ECECEC; }
  .content_background{
    background-color: #848484;
  }
  #id_container{
    position: relative;
    height: 100%;
    padding: 6.5rem 0 6.4rem 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
  }

    /*  Title  */
    .page_title{
      height: 9.5rem;
      width: 100%;
      position: relative;
    }
    .activity_clicked.page_title{
      height: 12.5rem;
    }
    .activity_page_title{
      height: 12.5rem;
    }
      /*  Cube  */
      .cube{
        position: absolute;
        height: 2.7rem;
        width: 2.7rem;
        top: 3.5rem;
        left: 1.5rem;
        z-index: 5;
        opacity: 0;
      }
      .page_title.clicked .cube{
        z-index: 0;
      }
      .changing{
        transition-property: all;
        transition-duration: .6s;
        transition-timing-function: ease-out;
      }
      .square_one{
        position: absolute;
        top: 3.5rem;
        left: 1.5rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
        border: 0.2rem solid white;
        z-index: 1;
      }
      .square_two{
        position: absolute;
        top: 3.5rem;
        left: 3rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
        border: 0.2rem solid white;
        z-index: 3;
      }
      .square_three{
        position: absolute;
        top: 5rem;
        left: 1.5rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
        border: 0.2rem solid white;
        z-index: 2;
      }
      .square_four{
        position: absolute;
        top: 5rem;
        left: 3rem;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
        border: 0.2rem solid white;
        z-index: 3;
      }
      .page_title.clicked .square_one{
        top: 0%;
        left: 0%;
        height: 100%;
        width: 25%;
        background-color: #848484;
        transform: rotate(180deg);
      }
      .page_title.clicked .square_two{
        top: 0%;
        left: 25%;
        height: 100%;
        width: 25%;
        background-color: #D28B8B;
        transform: rotate(180deg);
      }
      .page_title.clicked .square_three{
        top: 0%;
        left: 50%;
        height: 100%;
        width: 25%;
        background-color: #8BA9D2;
        transform: rotate(180deg);
      }
      .page_title.clicked .square_four{
        top: 0%;
        left: 75%;
        height: 100%;
        width: 25%;
        background-color: #91D8B2;
        transform: rotate(180deg);
      }

      /* Square Theme */
      .Small_Theme{
        position: absolute;
        color: #FFFFFF;
        font-size: 1.2rem;
        text-align: left;
        letter-spacing: 0.1rem;
        font-family: 'Roboto_Light';
        font-weight: 200;
        z-index: 10;
        display: inline;
        bottom: 0;
      }
      .Theme_one{
        right: 81%;
        opacity: 0;
      }
      .Theme_two{
        right: 56%;
        opacity: 0;
      }
      .Theme_three{
        right: 31%;
        opacity: 0;
      }
      .Theme_four{
        right: 6%;
        opacity: 0;
      }
      
      .page_title.clicked .Theme_one{
        right: 76%;
        opacity: 1;
      }
      .page_title.clicked .Theme_two{
        right: 51%;
        opacity: 1;
      }
      .page_title.clicked .Theme_three{
        right: 26%;
        opacity: 1;
      }
      .page_title.clicked .Theme_four{
        right: 1%;
        opacity: 1;
      }
      .activity_space{
        width: 100%;
        height: 100%;
        position: relative;
      }
        .slogan{
          font-size: 2rem;
          font-family: Microsoft JhengHei;
          top: 15%;
          line-height: 2.5rem;
          left: 31%;
          color: white;
        }
        .comment{
          font-size: 1.4rem;
          font-family: Microsoft JhengHei;
          letter-spacing: -0.1rem;
          line-height: 2rem;
          bottom: 0;
          left: 1rem;
          color: white;
        }
        .Activity_tags_img{
          width: 14%;
          height: 53%;
          top: 10%;
          right: 8%;
        }
        .activity{
          position: absolute;
        }
        .activity_space.clicked .slogan{
          left: 51%;
          opacity: 0;
        }
        .activity_space.clicked .comment{
          bottom: 20%;
          opacity: 0;
        }
        .activity_space.clicked .Activity_tags_img{
          right: -12%;
          opacity: 0;
        }

      /*  Theme  */
      .Theme{
        position: absolute;
        color: #FFFFFF;
        top: 24%;
        right: 5%;
        font-size: 3.5rem;
        text-align: right;
        font-family: 'Roboto_Regular';
        font-weight: 600;
        opacity: 1;
      }
      .Theme_hidden{
        opacity: 0;
      }
      .space_one{
        top: 20%;
        font-size: 3.9rem;
        letter-spacing: 0.7rem;
      }
      .space_two{
        top: 24%;
        font-size: 3.5rem;
        letter-spacing: 0.3rem;
      }
      .space_three{
        top: 26%;
        font-size: 3rem;
        letter-spacing: 0.25rem;
      }
      .page_title.clicked .Theme{
        right: -50%;
      }


    /*  Scrollable Menu  */

    div.scrollmenu {
      position: relative;
      background-color: #1D1D1D;
      overflow-x: auto;
      white-space: nowrap;
      margin-bottom: 0.5rem;
    }
    div.activity_menu{
      background-color: #CBCBCB;
      overflow-x: hidden;
      text-align: center;
      height: 2.4rem;
      padding-top: 0.4rem;
      margin-bottom: 0;
    }
      .scrollmenu_text{
        font-size: 1.2rem;
        letter-spacing: -0.1rem;
      }
    div.scrollmenu li a.default_color{
      color: #FFFFFF ;
    }
    div.scrollmenu::-webkit-scrollbar {
      display: none;
    }
    div.scrollmenu li {
      display: inline-block;
      text-align: center;
    }
    div.scrollmenu a {
      display: inline-block;
      color: #5F5F5F;
      font-family: Microsoft JhengHei;
      padding: 0.3rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      text-decoration: none;
      font-size: 1.3rem;
    }
    #magic-line {
      position: absolute;
      left: 1rem;
      bottom: 0;
      width: 3rem;
      height: 0.15rem;
      background: #FFFFFF;
    }
    .item{
      display: inline-block;
    }

    


    /* post */
    /*.no-gutters>[class*=col-] {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 2rem;
    }*/
    .single_post{
      width: auto;
    }
    .tags_img {
      height:100%;
      width:100%;
    }
    .intro {
      justify-content: space-between;
      width: 100%;
      padding: 0.3rem 0.3rem 0.3rem 0.5rem; 
      color: #FFFFFF;}
    .clicked .intro{
      color: #707070;
    }
      .intro_title {
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.1rem;
        letter-spacing: -0.04rem;
        text-overflow: ellipsis;
        padding: 0 0 0 0.5rem; }
      .intro_account_id {
        overflow: hidden;
        margin: auto;
        font-size: 0.75rem;
        text-align: right;
        letter-spacing: -0.04rem;
        text-overflow: ellipsis; }
      .intro_account_img {
        height: 100%;
        width: 100%;
        border-radius: 50%; }
    .post{
      margin-bottom: 2rem;
    }
  
  
  .vsc-initialized {
    overflow-x: hidden; }
  
  body {
    overflow: auto;
    overflow-x: hidden; }
  
  #id_header {
    width: 100%; }
  
  .tetto {
    padding-left: 5vw; }
  
  .addpost {
    position: absolute;
    top: 3.5rem;
    right: 6vw; }
