header {
    width: 100%;
    height: 10vh;
    background-color: #ECECEC; }
  .content_background{
    background-color: #848484;
  }
  #id_container{
    position: relative;
    height: 100%;
    padding: 7rem 0 6.8rem 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}
  .page{
    margin-bottom: 0rem;
    }
    /*  Title  */
    .page_title{
      margin: 0 0 9rem 0;
    }
      /*  Cube  */
      .cube{
        position: relative;
      }
      .square {
        position:absolute;
        height: 1.2rem;
        width: 1.2rem;
        background-color: #FFFFFF;
      }
      .one{
        position: absolute;
        top: 10.5rem;
        left: 1.5rem;
      }
      .two{
        position: absolute;
        top: 10.5rem;
        left: 3rem;
      }
      .three{
        position: absolute;
        top: 12rem;
        left: 1.5rem;
      }
      .four{
        position: absolute;
        top: 12rem;
        left: 3rem;
      }
      /*  Theme  */
      .Theme{
        position: absolute;
        color: #FFFFFF;
        top: 8.9rem;
        left: 15rem;
        font-size: 4rem;
        text-align: right;
        letter-spacing: 0.7rem;
        font-family: 'Roboto_Regular';
        font-weight: 900;
      }


    /*  Scrollable Menu  */

    div.scrollmenu {
      margin-top: 1rem;
      position: relative;
      background-color: #1D1D1D;
      overflow-x: auto;
      white-space: nowrap;
    }
    div.scrollmenu li a.default_color{
      color: #FFFFFF ;
    }
    div.scrollmenu::-webkit-scrollbar {
      display: none;
    }
    div.scrollmenu li {
      display: inline-block;
      text-align: center;
    }
    div.scrollmenu a {
      display: inline-block;
      color: #5F5F5F;
      font-family: Microsoft JhengHei;
      padding: 0.3rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      text-decoration: none;
      font-size: 1.3rem;
    }
    #magic-line {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 5rem;
      height: 0.15rem;
      background: #FFFFFF;
    }

    


    /* post */
    /*.no-gutters>[class*=col-] {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 2rem;
    }*/
    .single_post{
      width: auto;
    }
    .tags_img {
      height:100%;
      width:100%;
    }

    .spacing{
      margin-bottom: 0.5rem;
      width: 100%;
    }
    .intro {
      justify-content: space-between;
      width: 100%;
      padding: 0.3rem 0.3rem 0.3rem 0.5rem; }
      .intro_title {
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.1rem;
        letter-spacing: -0.04rem;
        text-overflow: ellipsis;
        color: #FFFFFF;
        padding: 0 0 0 0.5rem; }
      .intro_account_id {
        overflow: hidden;
        margin: auto;
        font-size: 0.75rem;
        text-align: right;
        letter-spacing: -0.04rem;
        text-overflow: ellipsis;
        color: #FFFFFF; }
      .intro_account_img {
        height: 100%;
        width: 100%;
        border-radius: 50%; }
    .post{
      margin-bottom: 2rem;
    }
  
  
  .vsc-initialized {
    overflow-x: hidden; }
  
  body {
    overflow: auto;
    overflow-x: hidden; }
  
  #id_header {
    width: 100%; }
  
  .tetto {
    padding-left: 5vw; }
  
  .addpost {
    position: absolute;
    top: 5.2vh;
    right: 6vw; }
  