/* Sticky footer styles
-------------------------------------------------- */
html, body{
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
#id_header {
    position: fixed;
    height: 7rem;
    top: 0;
    background-color: #ECECEC;
    overflow:hidden;
    z-index: 199;
}
#id_content {
    position: relative;
    height: 100%;
    padding: 7rem 0 6.8rem 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}
#id_content_for_login {
    position: relative;
    height: 100%;
    padding: 7rem 0 6.8rem 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
    background-color: #848484;
}
#id_footer {
    position: fixed;
    height: 6.8rem;
    background-color: #F9F9F9F0;
    top:auto;
    bottom: 0;
    overflow:hidden;
    z-index: 200;
    opacity: 1;
}
.tetto{
    padding-top: 4.3rem;
    text-align: center;
    font-family: 'Roboto_Bold';
    padding-left: 0.58rem;
    font-size: 1.65rem;
    letter-spacing: 0.84rem;
    color: #000000;
    opacity: 1;
}
.back{
    position: absolute;
    top: 4rem;
    left: 1.4rem;
    width: 1rem;
    height: 2.05rem;
    opacity: 1;
}

.text{
    position: absolute;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 0.1rem;
    color: #707070;
    opacity: 1;
    top: 2.9rem;
}

.footer_MainPage{
    position: absolute;
    top: 1rem;
    left: 2.2rem;
    width: 1.72rem;
    height: 1.72rem;
    opacity: 1;
}
.MainPage{
    left: 2.1rem;
}
.footer_Search{
    position: absolute;
    top: 1rem;
    left: 2.2rem;
    width: 1.72rem;
    height: 1.72rem;
    opacity: 1;
}
.Search{
    left: 2.1rem;
}
.footer_Category{
    position: absolute;
    top: -0.1rem;
    left: 1.2rem;
    width: 4rem;
    height: 4rem;
    opacity: 1;
}
.Category{
    left: 2.2rem;
    
}
.footer_Msg{
    position: absolute;
    top: 0.9rem;
    left: 1.7rem;
    width: 1.72rem;
    height: 1.72rem;
    opacity: 1;
}
.Msg{
    left: 1.6rem;
}
.footer_Profile{
    position: absolute;
    top: 0.8rem;
    left: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 1;
}
.Profile{
    left: 0.6rem;
}