/* Sticky footer styles
-------------------------------------------------- */
html, body{
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
#id_header {
    position: fixed;
    height: 10vh;
    top: 0;
    background-color: #ECECEC;
    overflow:hidden;
    z-index: 199;
}
#id_content {
    position: relative;
    height: 100%;
    padding-bottom: 40vh;
    padding:10vh 0 11vh 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}
#id_content_for_login {
    position: relative;
    height: 100%;
    padding-bottom: 40vh;
    background-color: #848484;
    padding:10vh 0 11vh 0; /* Header height and footer height */
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}
#id_footer {
    position: fixed;
    height: 11vh;
    background-color: #F9F9F9F0;
    top:auto;
    bottom: 0;
    overflow:hidden;
    z-index: 200;
    opacity: 1;
}
.tetto{
    padding-top: 6.4vh;
    text-align: center;
    font-family: 'Roboto_Bold';
    padding-left: 1.505vw;
    font-weight: 700;
	font-size: 5.5vw;
	letter-spacing: 3.1vw;
    color: #000000;
	opacity: 1;
}
.back{
    position: absolute;
    top: 7vh;
    left: 3.58vw;
    width: 5.01vw;
    height: 2.35vh; 
	opacity: 1;
}

.text{
    position: absolute;
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 2.5vw;
	letter-spacing: 0px;
	color: #707070;
    opacity: 1;
    top: 4.3vh;
}
.footer_MainPage{
    position: absolute;
    top: 1.3vh;
    left: 6.44vw;
    width: 5.73vw;
    height: 2.69vh; 
	opacity: 1;
}
.MainPage{
    left: 6.8vw;
}
.footer_Search{
    position: absolute;
    top: 1.3vh;
    left: 6.44vw;
    width: 5.73vw;
    height: 2.69vh; 
	opacity: 1;
}
.Search{
    left: 6.87vw;
}
.footer_Category{
    position: absolute;
    top: -4vh;
    left: 3.58vw;
    width: 12.88vw;
    height: 13.4vh; 
	opacity: 1;
}
.Category{
    left: 7.44vw;
    
}
.footer_Msg{
    position: absolute;
    top: 1.3vh;
    left: 5.01vw;
    width: 5.73vw;
    height: 2.69vh; 
	opacity: 1;
}
.Msg{
    left: 5.58vw;
}
.footer_Profile{
    position: absolute;
    top: 1.3vh;
    left: 5.01vw;
    width: 5.73vw;
    height: 2.69vh; 
	opacity: 1;
}
.Profile{
    left: 2.86vw;
}