@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Oswald:500,600,700');
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


/* Sticky footer styles
-------------------------------------------------- */
html, body{
    position: relative;
    height: 100%;
    overflow: hidden;
}
#id_header {
    position: relative;
    height: 10.48%;
    background-color: #ECECEC;
    overflow:hidden;
    z-index: 199;
}
#id_content {
    position: relative;
    height: 79.07%;
    background-color: #848484;
    overflow-y: auto;
    z-index: 1;
    flex: 1;
}
#id_footer {
    position: fixed;
    height: 10.45%;
    background-color: #F9F9F9F0;
    overflow:hidden;
    z-index: 200;
}
.tetto{
    padding-top: 6.4vh;
    /*padding-left:38%;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
	font-size: 5.5vw;
	letter-spacing: 3.1vw;
    color: #000000;
    font-weight: bolder;
	opacity: 1;
}
.back{
    position: absolute;
    top: 6.6vh;
    left: -5vw;
    width: 22%;
    height: 22%; 
	opacity: 1;
}

.text{
    position: absolute;
    text-align: center;
    font-family: 'Noto Sans TC';
    font-size: 2.5vw;
    font-weight: 500;
	letter-spacing: 0px;
	color: #707070;
    opacity: 1;
    top: 4.3vh;
}
.footer_MainPage{
    position: absolute;
    top: 1.3vh;
    left: 6.44vw;
    width: 29%;
	opacity: 1;
}
.MainPage{
    left: 6.8vw;
}
.footer_Search{
    position: absolute;
    top: 1.3vh;
    left: 6.44vw;
    width: 27%;
	opacity: 1;
}
.Search{
    left: 6.87vw;
}
.footer_Category{
    position: absolute;
    top: 1vh;
    left: 3.58vw;
    width: 65%;
	opacity: 1;
}
.Category{
    left: 7.44vw;
    
}
.footer_Msg{
    position: absolute;
    top: 1.3vh;
    left: 5.01vw;
    width: 28%;
	opacity: 1;
}
.Msg{
    left: 5.58vw;
}
.footer_Profile{
    position: absolute;
    top: 1.3vh;
    left: 5.01vw;
    width: 28%;
	opacity: 1;
}
.Profile{
    left: 2.86vw;
}