.switch_containter {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: flex-start;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 0.5rem;
    margin-left: 4rem;
  }
  body span.switcher {
    position: relative; 
    border-radius: 25px;
    /*height: 50px;
    width:200px;
    box-shadow:*/ 
  }
  body span.switcher input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    width: 6rem;
    height: 1.8rem;
    border-radius: 25px;
    background-color: #1E1E1E;
    outline: none;
  }
  body span.switcher label {
    z-index: 1;
    position: absolute;
    top: 0.15rem;
    width: 2.7rem;
    height: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0.25rem 0.5rem #00000050;
  }
  body span.switcher input:before, body span.switcher input:after {
    z-index: 2;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #FFFFFF;
  }
  body span.switcher input:before {
    content: 'Yes';
    font-family: 'Roboto_Regular';
    font-size: 1rem;
    left: 0.8rem;
  }
  body span.switcher input:after {
    content: 'No';
    font-family: 'Roboto_Regular';
    font-size: 0.8rem;
    right: 1rem;
  }
  
  body span.switcher.switcher-1 input {
    -webkit-transition: .25s -.1s;
    transition: .25s -.1s;
  }
  body span.switcher.switcher-1 input:checked {
    background-color: #C0C0C0;

    -webkit-transition: background .2s;
    transition: background .2s;
  }
  body span.switcher.switcher-1 input:checked:before {
    color: #000000;
  }
  body span.switcher.switcher-1 input:checked:after {
    color: #FFFFFF;
  }
  body span.switcher.switcher-1 input:checked + label {
    left: 0.3rem;
    right: 1rem;
  
    background: #FFFFFF;
    -webkit-transition: left .2s, right .2s;
    transition: left .2s, right .2s;
  }
  body span.switcher.switcher-1 input:not(:checked) {
    background: #C0C0C0;
    -webkit-transition: background .2s;
    transition: background .2s;
  }
  body span.switcher.switcher-1 input:not(:checked):before {
    color: #FFFFFF;
  }
  body span.switcher.switcher-1 input:not(:checked):after {
    color: #000000;
  }
  body span.switcher.switcher-1 input:not(:checked) + label {
    left: 3rem;
    right: 0.3rem;
    background: #FFFFFF;
    -webkit-transition: left .2s, right .2s;
    transition: left .2s, right .2s;
  }
  @-webkit-keyframes turn-on {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  @keyframes turn-on {
    0% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  @-webkit-keyframes turn-off {
    0% {
      right: 100%;
    }
    100% {
      right: 0%;
    }
  }
  @keyframes turn-off {
    0% {
      right: 100%;
    }
    100% {
      right: 0%;
    }
  }
  
  #switcher-1{
    box-shadow: 0 0.085rem 0.5rem #00000029;
    /*width: inherit;*/
  }
  