
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 22.5vh; /* Location of the box */
	left: 0;
	top: 4.5vh;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background-color: #848484;
	margin: auto;
	border: 1px solid #888;
	width: 80%;
}

.modal_signup{
    padding-top: 2vh;
    text-align: center;
    font-family: 'Roboto_Bold';
    padding-left: 0.5vw;
    font-weight: 700;
	font-size: 5vw;
	letter-spacing: 1vw;
    color: #000000;
    font-weight: bolder;
	opacity: 1;
}
/*---- Modal 1 ----*/
.create_account{
    text-align:left;
    padding-left: 5vw;
    color:white;
	font-family: 'Roboto_Regular';
	font-size:3.5vw;
}
.modal-backdrop {
    /*close the modal when clicked outside*/
    display: none;    
}
.modal-body {
    width:auto;
}

/* place of form */
#modal_login_in_box{
	text-align:center;
}
/*  form input  */
.modal_input_form{
	background: #FFFFFF;
	border-radius: 50px;
	opacity:1;
	height:2.8vh;
	width: 65vw;
    text-align:left;
    font-family: 'Roboto_Regular';
	font-weight:400;
	font-size: 3vmin;
	box-shadow: 0px 0.63rem 1.25rem #00000029;
	border:none;
	padding-top: 1vmin;	/*word position in input block*/
	margin-top:2.3vh;
}

#submit_box{
	text-align:left;
}

/* form submit */
.modal_button{
	border-radius: 50px;
	opacity:1;
	height: 2.4vh;
	width: 20vw;
	margin-top:4vh;
	margin-left:12vw;
	margin-bottom: 3vh;
	padding-bottom: 0.5vh;
	box-shadow: 0px 0.63rem 1.25rem #00000029;
    border:none;
    text-align:center;
    font-family: 'Roboto_Regular';
    font-size: 3.72vmin;
	color:white;
}
.Cancel_button{
    background-color: #8BA9D2;
}
.skip{
	border-bottom:2px #CACACA solid; 
	font-family: 'Roboto_Regular';
	font-size:3vmin; 
	color: #CACACA;
	margin-left: 10vw;;
}
.Modal1_Next_button{
    background-color: #D28B8B;
}
/*---- Modal 2 ----*/
.designer_check{
	text-align:left;
    padding-left: 8vw;
    color:white;
	font-family: 'Roboto_Regular';
	padding-top: 2vh;
	letter-spacing: 0.2vw;
	font-size:3.5vw;
}

/* The switch - the box around the slider */
#modal_signup_box{
	margin-left: 3.3vw;;
}
.house{
    text-align: center;
    font-family: Microsoft JhengHei;
    font-size: 4.5vmin;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	display: inline-block;
}
.modal2_input_form{
	background: #FFFFFF;
	border-radius: 50px;
	opacity:1;
	height: 2.4vh;
    width: 9vw;
    text-align:left;
    font-family: 'Roboto_Regular';
	font-weight:400;
	font-size: 3vmin;
	box-shadow: 0px 0.63rem 1.25rem #00000029;
	border:none;
	padding-left: 1vmin;
	margin-left:2vh;
	display: inline-block;
}
.room{
	margin-left: 5vw;
}
.room_button{
	border-radius: 50px;
	opacity:1;
	height: 2.5vh;
	width: 11vw;
	margin-left: 2.3vw;
	padding-bottom: 2.8vh;
	box-shadow: 0px 0.63rem 1.25rem #00000029;
    border:none;
    text-align:center;
    font-family: Microsoft JhengHei;
    font-size: 4vmin;
	color:#666666;
	background-color: #FFFFFF;
	display: inline-block;
}


.add_background{
	animation-name:AddtheBackground;
    animation-duration:0.5s;
	background-color: #8BA9D2;
	color:#FFFFFF;
}
@keyframes AddtheBackground{
	0%{
		background:#FFFFFF;
		color:#666666;
	}
	100%{
		background:#8BA9D2;
		color:#FFFFFF;
	}
}

.remove_background{
	animation-name:RemovetheBackground;
    animation-duration:0.5s;
	background-color: #FFFFFF;
	color:#666666;
}
@keyframes RemovetheBackground{
	0%{
		background:#8BA9D2;
		color:#FFFFFF;
	}
	100%{
		background:#FFFFFF;
		color:#666666;
	}
}
.modal2_next{
	font-family: 'Roboto_Regular';
	margin-left: 31vw;
}
