/* Login in with text */
.login_in{
    padding-top:15%;
    text-align: center;
    font-family: Roboto;
    font-weight: 380;
	font-size: 6.16vw;
    letter-spacing: 0.72vw;
    text-shadow: 0px 3px 6px #00000029;
	color: #000000;
	opacity: 1;
}
/* place of form */
#login_in_box{
	text-align:center;
	margin-top:4vh;
}

/*  form input  */
.input_form{
	background: #FFFFFF;
	border-radius: 50px;
	opacity:1;
	height:3.49vh;
	width: 71.58vw;
    text-align:left;
    font-family: "Segoe UI";
    font-weight:400;
	box-shadow: 0px 3px 6px #00000029;
	border:none;
    padding-top: 1vh;
}
.Password_form{
	margin-top:4vh;
}
.Username_form{
	margin-top:3vh;
}
::placeholder {
    color: #7070708C;
    font-size: 3vw;
    padding-left: 3vw;
    
}
#submit_box{
	text-align:left;
}

/* form submit */
.button{
	border-radius: 50px;
	opacity:1;
	height: 3.36vh;
	width: 25.78vw;
	margin-top:5vh;
	margin-left:16vw;
	box-shadow: 0px 3px 6px #00000029;
    border:none;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 3.72vw;
	color:white;
}
.login_button{
    background-color: #8BA9D2;
}
.signup_button{
    background-color: #D28B8B;
}
/* place of sign in with */
#sign_in_with{
	text-align:center;
	margin-top:7vh;
}
/* sign in with text */
.signin{
	color:white;
	font-size:4vw;
	font:Segoe UI;
}
/* sign in with line */
.login_line{
	width:50vw;
	border-top: solid #FFFFFF 2px;
	margin-left:25vw;
}
/* sign in with icons */
.icons{
	margin-top:2vh;
	margin-left:3vh;
	height:9%;
	width:9%;
}
/* place of forgetpassword  */

.forgetpassword {
	text-align:left;
	margin-top:10vh;
	margin-left:60vw;
}
.forgetpassword_color{
	color:white;
	font:Segoe UI;
	font-size:3.5vw;
}
.forget_line{
	width:27vw;
	margin-top:-0.3vh;
	border-top: solid #FFFFFF 2px;
}
#box{
	height: 50%;
	top: 30vh;
	z-index: 51;
	background-color: #FFFFFF;
    /*opacity: 0.4;*/
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}