.modal_photo_main {
  width: 28.5rem; }

.modal_photo_preview {
  width: 28.5rem;
  }

.modal_photo{
  width: 6.5rem;
  height: 6.5rem;
  position: relative;
  overflow: hidden;
  margin: 0 3rem;
}

#image{
 position: absolute;
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.7); }

.modal-header {
  padding: 0.2rem 1rem; }

.modal-content {
  display: block;
  width: 28.6rem;
  margin: auto; }

.modal-title {
  font-size: 1.5rem; }

.modal-footer {
  justify-content: center;
  border-top: none;
  background-color: #E9E9E9;
  padding: 1.5rem 0.75rem; }

.modal-body {
  display: block;
  padding: 0;
  background-color: #E9E9E9; }

.btn {
  border-radius: 10rem;
  padding: 0.8rem 1.2rem;
  border: none;
  width: 5.5rem;
  box-shadow: 0 0.2rem 1rem #888888;
  }
.btn_a{
  margin: 0 3rem;
}
.btn_cancel {
  background-color: #848484; }

.btn_next {
  background-color: #D28B8B; }

.modal-photo-main-2 {
  display: block;
  width: 3.33rem;
  margin: auto; }

.modal-content-2 {
  width: 17.833rem; }

.modal-body-2 {
  padding: 1.5rem; }

.footer_div{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #3D5EAA;
  border-radius: 1rem;
  margin: 1rem 0.3rem;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 1rem #888888;
}
.div_word{
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.div_icon{
  display: block;
  margin: auto;
  height: 2.6rem;

}
.footer_req{
  display: flex;
  justify-content: center;
  width: 100%;
}
.div_texeture{
  margin-top: 0.2rem;
  height: 2.3rem;
}

.modal_btn--google{
  width: 17rem;
  height: 5.5rem;
}
