
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 25vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background-color: #848484;
	margin: auto;
	border: 1px solid #888;
	width: 80%;
}

.modal_signup{
    padding-top: 2vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 1vw;
    font-weight: 700;
	font-size: 5vw;
	letter-spacing: 2vw;
    color: #000000;
    font-weight: bolder;
	opacity: 1;
}
.create_account{
    text-align:left;
    padding-left: 7vw;
    color:white;
	font:Segoe UI;
	font-size:3.5vw;
}

/* place of form */
#modal_login_in_box{
	text-align:center;
}
/*  form input  */
.modal_input_form{
	background: #FFFFFF;
	border-radius: 50px;
	opacity:1;
	height:3vh;
	width: 60.58vw;
    text-align:left;
    font-family: "Segoe UI";
    font-weight:400;
	box-shadow: 0px 3px 6px #00000029;
	border:none;
    padding-top: 1vh;
}
.modal_Username_form{
	margin-top:2vh;
}
.Botton_form{
	margin-top:3vh;
}
#modal_submit_box{
	text-align:left;
}

/* form submit */
.modal_button{
	border-radius: 50px;
	opacity:1;
	height: 2vh;
	width: 15vw;
	margin-top:5vh;
	margin-left:10vw;
	box-shadow: 0px 3px 6px #00000029;
    border:none;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    font-size: 3.72vw;
	color:white;
}
.Cancel_button{
    background-color: #8BA9D2;
}
.Next_button{
    background-color: #D28B8B;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}