body, html{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
	font-family: Microsoft JhengHei;
	font-size:40px;
	position:relative;
}
#id_header {
   width: 100%;
  position: fixed;
  height: 5rem;
  top: 0;
  background-color: #ECECEC;
  overflow:hidden;
  z-index: 199;
}
.tetto {
  padding-top:2.95rem ;
  text-align: center;
  font-family: Roboto_Bold, sans-serif !important;
  padding-left: 2.4rem;
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  color: #000000;
  opacity: 1;
}
.back {
  position: absolute;
  top: 2.8rem;
  left: 1.5rem;
  width: 0.7rem;
  height: 1.7rem;
  opacity: 1;
}
#Submit_button{
opacity:0;
}
#nexticon{
	color:black;
	background-color:#E9E9E9;
	font-size:4vw;
	margin-top:2.8em;
	margin-right:2vw;
	border:none;
	font-weight:bold;
	opacity:1;
}
#finishicon{
	color:black;
	background-color:#E9E9E9;
	font-size:4vw;
	margin-top:-2.4em;
	margin-left:0.5em;
	margin-right:0.5em;
	border:none;
	font-weight:bold;
	z-index:20;
	opacity: 0;
}
.col photo{
	width:100vw;
}
#camera{
    position: fixed;
    width: 100vw;
	height:70vh;
    object-fit: cover;
	z-index:2;
}
#camera--view, #camera--view2, #camera--sensor, #camera--output{
    position: fixed;
    width: 100vw;
	height:70vh;
    object-fit: cover;
	z-index:4;
}

#camerasetting{
	height:30vh;
	background-color:#E9E9E9;
	position:fixed;
	z-index:1;
	left:0;
	right:0;
	bottom:0;
}
#camera--trigger{
    width:5em;
	height:5em;
    border-radius: 50%;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 7.5em;
    left: calc(50% - 100px);
	z-index:10;
}
.taken{
    height: 10vh!important;
    width: 25vw!important;
    top: 12vh;
    left: 8vw;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    z-index:4;
}

.block {
position: fixed;
bottom: 8.5em;
margin-left:0.5em;
text-align: center;
cursor: pointer;
background: white;
z-index:3;
width:2.5em;
height:2.5em;
}
#upload_input {
display: none;
}
.upload_icon {
font-weight: bold;
font-size: 180%;
position: absolute;
left: 0;
width: 100%;
bottom:0.1em;
}
.cameraturn{
z-index:3;
/*長寬不知道怎麼用正方形*/
width:2.5em;
margin-left:3.5em;	
position: fixed;
bottom: 7.5em;
}

#posting{
position:absolute;
z-index:0;
opacity:0;
padding-top:12vh;
}
.container.custom-container-width {
    max-width:90vw;
	padding-top:2vh;
	margin-left:5vw;
}
.myimage{
	height: 10vh!important;
    width: 25vw!important;
    top: 3vh;
    left: 3vw;
    z-index: 2;
	opacity:0;
}

input[type=text]{
	background: #F7F7F7;
	height:2.5em;

	text-align:left;
	font-weight:400;
	border-radius: 0%;
	border:none;
}
::-webkit-input-placeholder { /* Edge */
  color: #5F5F5F;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #5F5F5F;
}

::placeholder {
  color: #5F5F5F;
}

.textarea {
height: 5em;
width:21.5em;
background: #F7F7F7;
margin-top:1em;
padding-left:0.5em;
text-align:left;
border:none;
resize: vertical;
overflow: auto;
}
.textarea:empty:before {
content: attr(placeholder);
color: #bbb;
}
#selected{
	margin-bottom:1em;
}


label{
	font-weight:1000;
}

#file{
	opacity:0;
	position:absolute;
	max-width:2.5em;	
}
.plus{
	height:0.5em;
	width:0.5em;
   
}
.selects{
	height:2em;
	background:#CCCCCC;
	color:black;
	border-radius:10px;
	padding:0.2em;
}
#pings{
	opacity:1;
	background: #CCCCCC;
	height:2em;
	padding:0.2em;
	bottom:0.5em;

}
.options{
	background:#CCCCCC;
	height:1em;
	font-size:0.3em;
	border:solid 0.5px #CCCCCC;
	padding:0.05em;
	width:1.5em;
}

#tag{
	opacity:0;
	
	
}
.tags{
              
                padding-left: 0.5em;
                padding-right: 0.5em;
                margin-left: 0.4em;
                margin-right: 0.3em;
                border-radius: 0.5em;
                white-space:nowrap;
                width: auto;
                background-color: #CCCCCC;
                cursor: pointer;
            }
            .tags_click{
                animation-name:oxxo;
                animation-duration:0.5s;
                background-color: #8BA9D2;
                color:#E7E7E7;
            }
            .tags_double_click{
                animation-name:oxxo_cancel;
                animation-duration:0.5s;
                background-color: #CCCCCC;
                color:#000000;
            }
