body,
html {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Microsoft JhengHei;
  font-size: 4vw;
  -webkit-overflow-scrolling: touch;
}
#id_header {
  position: fixed;
  height: 10vh;
  top: 0;
  background-color: #ececec;
  overflow: hidden;
  z-index: 199;
  width: 100%;
}
.tetto {
  padding-top: 6.4vh;
  text-align: center;
  font-family: Roboto_Bold, sans-serif !important;
  padding-left: 10vw;
  font-weight: 700;
  font-size: 5.5vw;
  letter-spacing: 3.1vw;
  color: #000000;
  opacity: 1;
}
.back {
  position: absolute;
  top: 7vh;
  left: 3.58vw;
  width: 5.01vw;
  height: 2.35vh;
  opacity: 1;
}
.submit_button {
  color: black;
  background-color: #e9e9e9;
  font-size: 4vw;
  margin-top: 6vh;
  margin-right: 2vw;
  border: none;
  font-weight: bold;
}
#id_content {
  padding-top: 10vh;
}
.image-preview-wrapper {
  cursor: pointer;
}
.image_col {
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  opacity: 0;
  margin: 0;
  padding: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.opacity-1 {
  opacity: 1;
}

.img-thumbnail {
  padding-top: 4vh;
  max-width: 100vw;
  max-height: 50vh;
  width: 100vw;
  margin: 0 auto;
  position: relative;
}
/*新增單品*/
.block {
  width: 5em;
  height: 5em;
  position: absolute;
  margin-left: 14em;
  text-align: center;
  cursor: pointer;
  background: #f7f7f7;
}

.upload_icon {
  position: absolute;
  left: 0;
  width: 100%;
  top: 1.5em;
}
.plus {
  height: 1.5em;
  width: 1.5em;
}
#post1 {
  padding-top: 3vh;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 78px;
  height: 78px;
  margin-right: 10px;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
}

.img-zoom-result img {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
.img-block-area {
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: calc(100% - 78px);
  padding: 0 7px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.img-block-area::-webkit-scrollbar {
  display: none;
}

#post2 {
  padding-top: 2vh;
}

.posting {
  padding-top: 1.5vh;
  font-size: 4vw;
  color: #575757;
}
.container.custom-container-width {
  max-width: 90vw;
}
.dot{
  background-color: #ffffff;
  width:13px;
  height:13px;
  z-index:1;
  display: block;
  position: relative;
  border-radius: 100%;
}
input[type="text"] {
  background: #f7f7f7;
  margin-top: 1vh;
  text-align: left;
  font-weight: 400;
  border-radius: 0%;
  border: none;
  padding-top: 4px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  vertical-align: middle;
  margin-bottom: 0.5em;
  background: #ebebeb;
  border: #999 solid 1px;
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;
}
input[type="checkbox"]:checked {
  background: #f7e011;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  background: transparent;
  border-top: none;
  border-right: none;
}
.textarea {
  height: 10vh;
  background: #f7f7f7;
  margin-top: 1vh;
  padding-left: 1vw;
  text-align: left;
  padding: 4px;
  border: none;
  resize: vertical;
  overflow: auto;
}
.textarea:empty:before {
  content: attr(placeholder);
  color: #bbb;
}
.form-group {
  font-size: 4vw;
  color: #575757;
}


.rate-base-layer {
  color: #aaaaaa;
}
.rate-hover-layer {
  color: #ffa500;
}
.rate-select-layer {
  color: #ffa500;
}
