header {
  width: 100%;
  height: 7.2rem;
  background-color: #ECECEC; }

.title {
  margin: 0 0 0.9rem 0; }
  .title_title {
    display: inline-block;
    width: 60%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.1rem 1.2rem 0 1.2rem; }
  .title_account {
    display: flex;
    width: 27%;
    float: right;
    margin: 1.2rem 1.42rem 0 0; }
    .title_account_id {
      display: inline-block;
      width: 65%;
      height: 100%;
      margin: auto;
      font-size: 1rem;
      text-align: right;
      text-overflow: ellipsis;
      overflow: hidden; }
    .title_account_photo {
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 0 0 0.58rem;
      border-radius: 20rem; }

.photo {
  width: 100vw;
  height: 23.5rem;}

.interact {
  margin: 0.2rem 1.3rem; }
  .interact_likes {
    display: inline-block; }
    .interact_likes_heart {
      display: inline-flex;
      margin: 0 1rem 0 0; }
      .interact_likes_heart_logo {
        width: 2.1rem;
        height: 2.1rem;}
      .interact_likes_heart_number {
        display: inline;
        margin: 0.68rem 0 0 0.3rem;
        font-size: 0.834rem;
        font-weight: 800; }
    .interact_likes_pen {
      display: inline-flex; }
      .interact_likes_pen_logo {
        width: 2rem;
        height: 2rem}
      .interact_likes_pen_number {
        display: inline;
        margin: auto;
        margin-left: 0.3rem;
        font-size: 0.834rem;
        font-weight: 800; }
  .interact_notify {
    margin: 0.3rem 0 0 0;
    float: right;
    display: inline-block; }
    .interact_notify_bell {
      width: 2.05rem; }
    .interact_notify_follow {
      width: 2rem;
      margin: 0 0 0 1rem; }

.abstract {
  padding: 0 1.3rem 0.8rem 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem; }

.content {
  background-color: #E9E9E9;
  padding: 0.3rem 1.3rem; }
  .content_title {
    font-size: 1.17rem;
    font-weight: 800;
    color: #505050; }
  .content_image {
    margin: 0.7rem 0 0.4rem 0; }
    .content_image_1 {
      width: 5.1rem;
      border-radius: 0.5rem;
      margin: 0 0.42rem 0 0; }
    .content_image_2 {
      width: 5.1rem;
      margin: 0 0.42rem 0 0; }
  .content_paragraph {
    margin: 0 0 0.2rem 0; }
    .content_paragraph_title {
      display: inline-block;
      font-weight: 800;
      color: #505050; }
    .content_paragraph_stars{
      display: inline-flex;
      width: 8rem;
      padding: 0 0.3rem;
    }
    .content_paragraph_star{
      width: 0.8rem;
      height: 0.8rem;
      margin: 0.1rem;
    }
  .content_content {
    margin: 0 0 1.5rem 0;
    line-height: 1.5rem;
    letter-spacing: 0.1rem; }
  .content_category_title {
    margin: 0.5rem 0 0.85rem 0;
    font-weight: 800;
    font-size: 1.17rem;
    color: #505050; }
  .content_category_content_content {
    padding: 0.15rem 1.1rem 0.15rem 1.1rem;
    border: solid #707070 0.08rem;
    border-radius: 0.42rem;
    background-color: #FFFFFF;
    color: #707070;
    }
  .content_category_content_first {
    font-weight: 500;
    display: inline; }
  .content_category_content_big {
    font-weight: 500;
    display: inline;
    margin: 0 0.2rem; }
  .content_category_content_second {
    font-weight: 500;
    display: inline; }
  .content_category_content_third {
    font-weight: 500;
    display: inline; }
  .content_hashtag {
    margin: 1.5rem 0 1rem 0; }
    .content_hashtag_hashtag {
      font-weight: 500;
      display: inline;
      margin: 0 0.8rem 0 0;
      padding: 0.15rem 0.35rem;
      border: solid #707070 0.083rem;
      border-radius: 0.42rem;
      background-color: #FFFFFF;
      color: #707070; }
    .content_hashtag_title {
      font-weight: 800;
      margin: 0.5rem 0 0.85rem 0;
      font-size: 1.17rem;
      color: #505050; }
    #single{
      height: 12rem;
    }
.requests {
  padding: 1.2rem 1.42rem;
  background-color: #E9E9E9}
  .requests_title {
    color: #505050;
    font-size: 1.17rem;
    font-weight: 800; }
  .requests_request {
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0 1.5rem 0rem;
    border-radius: 0.42rem;
    box-shadow: 0 0.2rem 1rem #00000029;
    background-color: #FFFFFF; }
    .requests_request_image {
      width: 6.5rem;
      height: 6.5rem;
      display: inline;
      border-radius: 0.5rem;}
    .requests_request_data {
      width: 15.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
    .request_data_num{
      width: 2rem;
      text-align: center;
      display: inline-block;
    }
    .request_data_btn{
      background-color: #3D5EAA;
      width: 5rem;
      text-align: center;
      color: white;
      border-radius: 0.5rem;
      display: inline-block;
    }
    .requests_request_btn{
      background-color: #F17979;
      color: white;
      text-align: center;
      border-radius: 0.5rem;
      margin: 0.5rem 0.7rem;
      box-shadow: 0 0.2rem 1rem #888888;
      width: 5rem;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      padding: 0.4rem 0;
    }
    .requests_request_num{
      text-align: right;
      font-size: 2rem;
      font-weight: 900;
      padding-right: 0.7rem;
    }
.btn{
  color: white;
}
.request {
  display: inline-block;
  position: fixed;
  bottom: 9rem;
  right: 1.5rem;
  width: 6.5rem;
  height: 4.2rem;
  border-radius: 0.42rem;
  background-color: rgba(255, 154, 154, 0.8);
  z-index: 50; }
  .request_icon {
    width: 4.2rem;
    padding: 0.3rem 0 0 2rem; }
  .request_content {
    margin: 0 0 0 1.1rem;
    letter-spacing: 0.1rem; }

#id_header {
  width: 100%; }

.tetto {
  padding-left: 5vw; }

body {
  overflow: auto;
  overflow-x: hidden; }

#space{
  width: 100%;
  height: 7rem;
  background-color: #E9E9E9;
}
.modal-footer-4{
  padding: 0 0 0 0;
  display: flex;
  background-color: #E9E9E9;
}
/* #shadow{
  opacity: 0;
  width: 100vw;
  height: 23.5rem;
  background-color: #00000085;
  position: absolute;
} */
#mask{
  width: 100vw;
  height: 23.5rem;
  position: absolute;
}
.dot{
  width: 1.1em;
  height: 1.1rem;
  opacity: 0.5;
}
.dot_color{
  width: 1.1rem;
  height: 1.1rem;
  opacity: 0;
}

#shadow{
  width: 100vw;
  height: 23.5rem;
  background-color: #FF9A9A;
  position: absolute;
  border: solid #00000085;
  border-width: 2rem 3rem 10rem 15rem;
  background-clip: padding-box;
}