body, html{
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
	font-family: Microsoft JhengHei;
	font-size:40px;
	position:relative;
}
#id_header {
    position: fixed;
    height: 10vh;
    top: 0;
    background-color: #ECECEC;
    overflow:hidden;
    z-index: 199;
	width:100%;
}
.tetto{
    padding-top: 6.4vh;
    text-align: center;
    font-family: Roboto_Bold,sans-serif!important;
    padding-left: 10vw;
    font-weight: 700;
	font-size: 5.5vw;
	letter-spacing: 3.1vw;
    color: #000000;
	opacity: 1;
}
.back{
    position: absolute;
    top: 7vh;
    left: 3.58vw;
    width: 5.01vw;
    height: 2.35vh; 
	opacity: 1;
}
.submit_button{
	color:black;
	background-color:#E9E9E9;
	font-size:4vw;
	margin-top:6vh;
	margin-right:2vw;
	border:none;
	font-weight:bold;
}
.col photo{
	width:100vw;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    width: 100vw;
	height:70vh;
    object-fit: cover;
	z-index:2;
}
#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
    filter: FlipH;/*水平翻轉*/
}
#camerasetting{
	height:30vh;
	background-color:#E9E9E9;
	position:fixed;
	z-index:1;
	left:0;
	right:0;
	bottom:0;
}
#camera--trigger{
    width:5em;
	height:5em;
    border-radius: 50%;
    border: none;
    text-align: center;
    position: fixed;
    bottom: 7.5em;
    left: calc(50% - 100px);
	
}
.taken{
    height: 10vh!important;
    width: 25vw!important;
    top: 12vh;
    left: 8vw;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    z-index:4;
}

.block {
position: fixed;
bottom: 8.5em;
margin-left:0.5em;
text-align: center;
cursor: pointer;
background: white;
z-index:3;
width:2.5em;
height:2.5em;
}
#upload_input {
display: none;
}
.upload_icon {
font-weight: bold;
font-size: 180%;
position: absolute;
left: 0;
width: 100%;
top:1em;
}
.cameraturn{
z-index:3;
/*長寬不知道怎麼用正方形*/
width:2.5em;
margin-left:3.5em;	
position: fixed;
bottom: 8.5em;
}
#posting{
position:relative;
z-index:1;
opacity:0;
padding-top:12vh;
}
.container.custom-container-width {
    max-width:90vw;
	padding-top:2vh;
	margin-left:5vw;
}
.myimage{
	height: 10vh!important;
    width: 25vw!important;
    top: 3vh;
    left: 3vw;
    z-index: 2;
	opacity:0;
}

input[type=text]{
	background: #F7F7F7;
	height:2.5em;
	margin-top:1vh;
	text-align:left;
	font-weight:400;
	border-radius: 0%;
	border:none;
}
::-webkit-input-placeholder { /* Edge */
  color: #5F5F5F;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #5F5F5F;
}

::placeholder {
  color: #5F5F5F;
}
.textarea {
height: 5em;
width:70m;
background: #F7F7F7;
margin-top:1em;
padding-left:1em;
text-align:left;
padding: 4px;
border:none;
resize: vertical;
overflow: auto;
}
.textarea:empty:before {
content: attr(placeholder);
color: #bbb;
}


.hashtag{
	background: #CCCCCC;
	color:black;
	padding-top:1vh;
	padding-bottom:1vh;
	padding-left:2vw;
	padding-right:3vw;
	border-radius:10px;
}
.hashtag:hover{
	background:#8BA9D2;
	color:white;
	text-decoration:none;
} 
label{
	font-weight:1000;
}

#file{
	opacity:0;
	position:absolute;
	max-width:2.5em;
	
}
.plus{
	height:0.5em;
	width:0.5em;
    margin-bottom:2em;
}
.selects{
	width:4em;
	height:2em;
	background:#CCCCCC;
	color:black;
	border-radius:10px;
	padding:0.2em;
}
#pings{
	opacity:0;
}
.options{
	background:#CCCCCC;
	height:2em;
	font-size:0.3em;
	border:solid 1px #CCCCCC;
	padding:0.2em;
}

#tag{
	opacity:0;
	margin-left:2em;
	
}

 .tags{
              
                padding-left: 0.5em;
                padding-right: 0.5em;
                margin-left: 0.4em;
                margin-right: 0.3em;
                border-radius: 0.5em;
                white-space:nowrap;
                width: auto;
                background-color: #CCCCCC;
                cursor: pointer;
            }
            .tags_click{
                animation-name:oxxo;
                animation-duration:0.5s;
                background-color: #8BA9D2;
                color:#E7E7E7;
            }
            .tags_double_click{
                animation-name:oxxo_cancel;
                animation-duration:0.5s;
                background-color: #CCCCCC;
                color:#000000;
            }
