doctype html
html
  head
    title POST
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./css/all.css", rel="stylesheet")
    // link(href="./css/font.css", rel="stylesheet")
    link(href="./css/home.css", rel="stylesheet")
    link(href="./css/toggleswitch.css", rel="stylesheet")
  body
    header

    // Toggle switch
    div(class="switch_containter")
      span(class="switcher switcher-1")
        input(type="checkbox" id="switcher-1")
        label(for="switcher-1")

    // Posts
    div(class="posts" id="posts")
     // div(class="posts_post")
     //   img(class="posts_post_img" src="./res/img/post_1.png")
     //   div(class="posts_post_detail")
     //       p(class="posts_post_detail_title") Modern room
     //       div(class="posts_post_detail_account")
     //         p(class="posts_post_detail_account_id") eric_50336
     //         img(class="posts_post_detail_account_img" src="./res/img/request_1.png")
    script(src="./js/home.js")



