doctype html
html
  head
    title POST
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    link(href="./css/all.css", rel="stylesheet")
    // link(href="./css/font.css", rel="stylesheet")
    link(href="./css/post.css", rel="stylesheet")
  body
    header
    // Title
    div(class="title")
      p(class="title_title") 讓起床更有活力的睡前儀式
      div(class="title_account")
          p(class="title_account_id") eric_50336
          img(class="title_account_photo" src="./res/img/content_1.png")

    // Image
    img(class="photo" src="./res/img/main.png")
 
    // Interact
    div(class="interact")
      div(class="interact_likes")
        div(class="interact_likes_heart")
          img(class="interact_likes_heart_logo" src="./res/img/heart.png") 
          p(class="interact_likes_heart_number") 326
        div(class="interact_likes_pen")
          img(class="interact_likes_pen_logo" src="./res/img/pen.png")
          p(class="interact_likes_pen_number") 23
      div(class="interact_notify")
        img(class="interact_notify_bell" src="./res/img/bell.png")
        img(class="interact_notify_follow" src="./res/img/bookmark.png")
    // Abstract
    p(class="abstract") 設立一個整齊有序的小空間，回到家後選個喜歡的時間坐在這裡，為一天做個總結。換上家居服，坐在鏡子前，調暗燈光，卸下臉上和心裡的裝扮。過程裡多些自我覺察，體驗慢下來的步調，靜靜享受和自己相處的時間，白天起床後，反向重複這個儀式，打理好精神奕奕的臉，把睡衣掛回吊衣桿上，換上準備好的穿搭，又是嶄新的一天。

    // Content
    div(class="content")
      p(class="content_title") About the room
      div(class="content_image")
        img(class="content_image_1" src="./res/img/content_2.png")
        img(class="content_image_2" src="./res/img/content_2.png")
      div(class="content_paragraph")
        p(class="content_paragraph_title") EKOLSUND 躺椅
        img(class="content_paragraph_stars")
      p(class="content_content") 設立一個整齊有序的小空間，回到家後選個喜歡的時間坐在這裡，為一天做個總結。換上家居服，坐在鏡子前，調暗燈光，卸下臉上和心裡的裝扮。過程裡多些自我覺察，體驗慢下來的步調，靜靜享受和自己相處的時間，白天起床後，反向重複這個儀式，打理好精神奕奕的臉，把睡衣掛回吊衣桿上，換上準備好的穿搭，又是嶄新的一天。
      div(class="content_category")
        p(class="content_category_title") Category
        div(class="content_category_content")
          p(class="content_category_content_first content_category_content_content") 空間
          p(class="content_category_content_big") > 
          p(class="content_category_content_second content_category_content_content") 套房
          p(class="content_category_content_big") >
          p(class="content_category_content_third content_category_content_content") 5坪
      div(class="content_hashtag")
        p(class="content_hashtag_title") Hashtag
        p(class="content_hashtag_first content_hashtag_hashtag") ikea
        p(class="content_hashtag_second content_hashtag_hashtag") 粉色
        p(class="content_hashtag_third content_hashtag_hashtag") 北歐風
        p(class="content_hashtag_forth content_hashtag_hashtag") 簡約
    
    // Requests
    div(class="requests")
      p(class="requests_title") Request
      div(class="requests_request")
        img(class="requests_request_image" src="./res/img/request_1.png")
        p(class="requests_request_number") 1089
        p(class="requests_request_want") 我也想知道這個!&nbsp&nbsp&nbsp&nbsp十
      div(class="requests_request")
        img(class="requests_request_image" src="./res/img/request_1.png")
        p(class="requests_request_number") 321
        p(class="requests_request_want") 我也想知道這個!&nbsp&nbsp&nbsp&nbsp十

    // Request
    div(class="request")
      img(class="request_icon" src="./res/img/request.png")
      p(class="request_content") 單品請求

    script(src="../js/post.js")
